{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="contact">

        <h2>Contactez-nous</h2>
            <div class="form_reg">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="contact-form">
                {{ form_start(formulaire) }}
        
                    <div class="form-group">
                            {{ form_label(formulaire.email) }}
                            {{ form_widget(formulaire.email) }}
                            {{ form_errors(formulaire.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(formulaire.Contenu) }}
                        {{ form_widget(formulaire.Contenu) }}
                        {{ form_errors(formulaire.Contenu) }}
                    </div>

                    {{ form_widget(formulaire.envoyer) }}
                    <a href="{{ path('app_home') }}" class="">Retour à la page d'accueil</a>
                </div>
            {{ form_end(formulaire) }}
            </div>

    </div>
    
{% endblock %}