{% set menus = menu_service.findAll %}
{% set options = option_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Chroniques d\'eaux noires{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('styles/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/app.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="overlay-menu-mobile" onclick="closeMenuMobile()">
        </div>

        <header class="header">
            <div class="header__logo">
           
                <img src=" {{ asset('img/EN_logo.png') }}" alt="Logo des Eaux-noires" class="logo_img">
                <a href="{{ path('app_home' )}}">
                    <h1><i>{{ options['blog_title']}}</i></h1>
                </a>

                <ul class="connexion">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if '1' == options['users_can_register'] %}
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    
                    {% else %}
                        <li><a href="{{ path('user', { 'username': app.user.username }) }}">{{ app.user.username|capitalize }}</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>

                <nav class="header__nav">
                    <div class="header__nav__close" onclick="closeMenuMobile()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                    

                    <ul class="header__nav__menu">
                        <div class="hide_on_dekstop">
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if '1' == options['users_can_register'] %}
                            <li class="header__nav__menu__link"><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        {% endif %}
                            <li class="header__nav__menu__link"><a href="{{ path('app_login') }}">Connexion</a></li>
                        
                        {% else %}
                            <li class="header__nav__menu__link"><a href="{{ path('user', { 'username': app.user.username }) }}">{{ app.user.username|capitalize }}</a></li>
                            <li class="header__nav__menu__link"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% endif %}
                        </div>
                        {% if is_granted('ROLE_AUTHOR') %}
                        <li class="header__nav__menu__link"><a href="{{ path('admin') }}">Tableau de bord</a></li>
                        <li class="header__nav__menu__link"><a href="{{ path('article_new') }}">Créer ton article</a></li>
                        {% endif %}
                        <li class="header__nav__menu__link"><a href="{{ path('articles') }}">Liste des articles</a></li>
                    </ul>

                    {# dropdown à faire #}
                    <ul class="header__nav__menu" id="dropdown">
                        {% for menu in menus %}
                            {% if menu.subMenus.count > 0 %}
                                <li class="header__nav__menu__link">
                                    <a href="{{ menu|menuLink }}">
                                        {{ menu.name }}
                                    </a>
                                </li>
                                {% for subMenu in menu.subMenus %}
                                        <li><a class="dropdown-item" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a></li>
                                    {% endfor %}
                            {% else %}
                                <li class="header__nav__menu__link">
                                    <a href="{{ menu|menuLink }}">
                                        {{ menu.name }}
                                    </a>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
                
                <div class="header__burger" onclick="openMenuMobile()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </div>
            </div>
        </header>

        {% block body %}
        
        {% endblock %}

        <footer class="footer">
            <h5>@ {{ 'now' | date('Y') }} {{ options['blog_title']}} - {{ options['blog_copyright']}}</h5>

            <nav>
                <ul>
                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                </ul>
            </nav>
        
            <nav>
                <ul>
                    {% if is_granted('ROLE_AUTHOR') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}">Tableau de bord</a></li>
                        {% endif %}
                        <li><a href="{{ path('article_new') }}">Créer ton article</a></li>
                    {% endif %}
                    <li><a href="{{ path('articles') }}">Liste des articles</a></li>
                </ul>
            </nav>
        
            <nav>
                <ul class="">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    
                    {% else %}
                        <li><a href="{{ path('user', { 'username': app.user.username }) }}">{{ app.user.username|capitalize }}</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
    </body>
</html>
