{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="article_vue">
        {% if is_granted('ROLE_AUTHOR') %}
        <div class="button_admin">
            <a href="{{ path('article_edit', { 'slug': article.slug }) }}"><button>Modifier l'article</button></a>
            {% if is_granted('ROLE_ADMIN') %}
                <form method="POST" action="{{ path('article_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-article' ~ article.id) }}">
                    <button type="submit" class="btn btn-danger">Supprimer l'article</button>
                </form>
            {% endif %}
        </div>
        {% endif %}

        <div class="row_img">
            <div>
                {% if article.featuredImage %}
                    <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="180" height="180">
                {% else %}
                    <p>Aucune image disponible</p>
                {% endif %}
            </div>

            <div class="">
                <h2 class="article_link">{{ article.title }}</h2>
            </div>
        </div>

        <hr>

        {{ article.content|raw }}

        <hr>

        <div class="button-container">
            <a href="{{ path('app_home') }}"><button>Retour à l'accueil</button></a>
        </div>
        
        <div class="comments_zone">
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(commentForm, { 'attr': { 'class': 'comment-form' } }) }}
            {{ form_widget(commentForm) }}
            {{ form_end(commentForm) }}
            {% endif %}

            <h2>
            <span id="comment-count">{{ article.comments|length }}</span> commentaire(s)
            </h2>

            <div class="comment-list">
                {% for comment in comments %}
                {% include 'comment/index.html.twig' with { 'comment': comment } %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
