{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="register">
    <h2>S'inscrire</h2>

    {# Afficher les messages flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert">{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="form_reg">

        {{ form_start(registrationForm) }}

        <div class="form-group">
            {{ form_label(registrationForm.username, 'Nom d\'utilisateur', {'label_attr': {'for': 'username'}}) }}
            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}}) }}
            {{ form_errors(registrationForm.username) }}
        </div>

        <div class="password">
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'for': 'plainPassword'}}) }}
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'for': 'plainPasswordConfirm'}}) }}
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>
        </div>

        <div class="form-group form-check">
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(registrationForm.agreeTerms, 'Accepter les conditions d\'utilisations', {'label_attr': {'class': 'form-check-label'}}) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="">S'inscrire</button>

        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}